@import './variables';
@import './functions';



* {
    font-family: 'Vazir';
}

body {
    background-color: $color2;
}

.body-loading {
    filter: blur(10px);
    
}
 


.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
    background-color: black;
}


.login-form {
    label {
        font-size: 1.3rem;
        text-align: center;
    }

}




//User Portal//
.panel-nav-bar {
    border-radius: .3rem;
    background-color: $color2-dark;
    color: $color3;
    align-items: baseline;
    ul {
        padding: .5rem;
        // display: inline-block;
        list-style: none;
        margin: 0;
        a{
        // li {
            color: black !important;
            // color: $color2-light;
            margin-left: .1rem;
            margin-right: .1rem;
            user-select: none;
            display: inline-block;
            cursor: pointer;
            padding: .75rem;
            border-radius: .4rem;
            &:hover  {
                background-color: $color2-light-lowOp;
                color: $color1;
                font-weight: bold;

            }
            text-decoration: inherit;
            // font-weight: bold;
            &.router-link-exact-active {
                color: $color1;
                background-color: $color2-light!important;
                font-weight: bold;
            }
            &.disabled-link {
                cursor: default;
                color: rgba(0, 0, 0, 0.507) !important;
                &:hover {
                    background-color: inherit;
                    font-weight: inherit;
                    color: inherit;
                }
            }
                
        }
    }

}

.user-portal-container {
    background-color: $color4;
    // min-height: 30rem;
    border-radius: .3rem;
    // border-top-left-radius: 1rem;
    margin-bottom: 5rem;
}



.satr {
    padding: 0;
    
    .part {
        &-dragover::before {
            // background-color: aqua !important;
            content: '';
            height: 100%;
            position: absolute;
            left: 100%;
            width: .5rem;
            // background-color: black;
            border-right: 2px dashed $color1;
        }
        padding: .5rem .5rem;
        background-color: $color3-dark;
        margin:.6rem  .4rem;
        text-align: center;
        border-radius: .3rem;
        font-weight: bold;
        user-select: none;
        position: relative;
        cursor: pointer;
        box-shadow: 5px 5px 6px rgba(0,0,0,0.1),
                    inset 5px 5px 5px rgba(255, 255, 255, .4);
        .weight {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            background-color: $color2-dark;
            // background-color: weight(100);
            padding: .3rem .8rem;
            padding-top: .4rem;
            font-size: 1rem;
            text-align: center;
            box-shadow: inset 1px 3px 6px 0px rgba(255, 255, 255, .4), 3px 4px 6px 0px rgba(0, 0, 0, .5)
            
        }
            
    }
}
.new-row {
    opacity: .3;
}

.tavali-list {
    
    .tavali {
        .part {
            .part-info {
                background-color: $color2-light;
                cursor: pointer;
            }

        }
    }
}


@media only screen and (max-width: 600px) {
    h2 {
        font-size: 1.5rem;

    }
    .rowInp {
        select {
            max-width: 100%  !important;
            width: 3rem  !important;
            flex-grow: .1;
            // display: block !important;
            
        }
        .select-zero {
            max-width: 100% !important;
            font-size: 1rem;
            width: 8rem!important;
        }
        .select-div {
            width: 100% !important;
            flex-grow: 5;
            // flex-direction: column;
            select {
                width: 100%;
                // flex-grow: 8;
                width: 45%!important;
            }
            .select-zero {
                width: 45% !important;
            }
            input {
                width: 50%;
            }
            .costum-part-name-input:focus {
                width: 50%;
                
            }
        }

    }
    #level1submit {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

  }


@media screen and (min-width: 600px) and (max-width:1023px) {
    .rowInp {
        select {
            max-width: 50%  !important;
            width: 8rem  !important;
            flex-grow: .1;
            // display: block !important;
        }
    }
}